.go-back-button {
    position: relative;

}

.go-back-button button {
    background-color: transparent;
    color: #35495e; /* Adjust the color as needed */
    border: none;
    font-size: 35px; /* Adjust the font size as needed */
    padding: 5%;
    cursor: pointer;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
     
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #35495e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold; /* Add this line for bold text */
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    color: #35495e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.tableTitle{
    font-family: 'Roboto', sans-serif;
    color: #35495e;
    text-transform: uppercase;
}

.container{
    padding: 18px;
}

.titleSection{
    background-color: rgb(219, 235, 255);
    margin: 5%;
    padding: 2%;
    border-radius: 15px;
}