
    <div *ngIf="delivery">
        <div class="container">
            <div class="go-back-button">
                <button (click)="goBack()">
                    <i class="bi bi-arrow-left-circle"></i> <!-- Rounded arrow icon in a circle -->
               </button>
           </div>
           <section class="titleSection">
        <div class="title-container">
        <h1 class="title">{{ delivery.order.daycare.name }}</h1>
    </div>
        <h2 class="subtitle">{{ delivery.order.daycare.address }}</h2>
       </section>
        <div class="d-grid gap-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="tableTitle">Nom d'article</th>
                        <th class="tableTitle">Quantité</th>
                        <th class="tableTitle">Actions</th> <!-- Nouvelle colonne pour les actions -->
                    </tr>
                </thead>
                <tbody class="">
                    <!-- Iterate over key-value pairs in orderLinesMap -->
                    <tr *ngFor="let orderLine of delivery.order.orderLinesMap | keyvalue">
                        <td class="customFont">{{ orderLine.value.article.name }}</td>
                        <td class="customFont">
                            {{ orderLine.value.quantity }}
                            {{ orderLine.value.article.storageType }}(s)
                        </td>
                        <td class="customFont">
                            <!-- Ajouter un bouton "Edit" avec un événement de clic pour ouvrir le popup -->
                            <button class="btn btn-primary" (click)="openEditPopup(orderLine.value.documentId, orderLine.value.quantity)">
                                Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
