.go-back-button {
    position: relative;

}

.go-back-button button {
    background-color: transparent;
    color: #35495e; /* Adjust the color as needed */
    border: none;
    font-size: 35px; /* Adjust the font size as needed */
    padding: 5%;
    cursor: pointer;
}

/* Add a new style block or update your existing CSS file */
.text-center{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #35495e; /* Adjust the color as needed */
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;

}

.title {
    font-family: 'Roboto', sans-serif;
    color: #35495e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold; /* Add this line for bold text */
}
.edit-button-container {
    text-align: center; /* Center the button */
    margin-top: 20px; /* Add top margin for spacing */
}
.mat-select-value-text {
    color: white !important; /* Set the text color to white */
}
.mat-select-value-text.mat-selected {
    color: white !important; /* Set the text color to white */
}

.customDisplay {
    margin-right : 2rem;
    margin-left: 0.5rem;
}

/* Styles pour l'interrupteur personnalisé */
.form-check-input:checked {
    background-color: rgb(82, 146, 82); /* Couleur en position "On" (vérifié) */
}

.form-check-input:not(:checked) {
    background-color: rgb(219, 122, 122); /* Couleur en position "Off" (non vérifié) */
}

.sectionList{
    background-color: rgb(219, 235, 255);
    margin: 5%;
    padding: 2%;
    border-radius: 15px;
}

.truck-button {
    font-size: 40px; /* Smaller font size */
    text-align: center;
    background-color: #35495e; /* Desired background color */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Adjusted height */
    width: 150px; /* Adjusted width */
    border-radius: 50%; /* Make it a circle */
    margin: 0 auto; /* Center the button horizontally */
}

.truck-button button {
    color: white; /* Text color */
    background-color: transparent; /* Transparent button background */
    border: none; /* Remove button border */
    cursor: pointer;
    font-size: inherit; /* Inherit font size from parent */
}

.container{
    padding: 18px;
}

