<div class="go-back-button">
    <button (click)="goBack()">
        Back
    </button>
</div>
<div *ngIf="deliveryRounds$ | async as deliveryRounds">
    <div *ngIf="deliveryRound">

            <!-- Afficher le nom de la tournée -->
            <h1 class="text-center">{{ deliveryRound.name }}</h1>
            <br>
            <h2 class="text-center"> Livreur : {{ deliveryRound.driver.name}}</h2>
            <br>
            <!-- Afficher le nom de la tournée-->
            <div class="d-grid gap-3">
                <button
                    class="btn btn-secondary btn-lg"
                    *ngFor="let delivery of deliveryRound.deliveriesMap | keyvalue"
                    (click)="afficherDetailsLivraison(delivery.key)">
                    {{ delivery.value.order.daycare.name }}
                </button>
            </div>
    </div>
</div>
<router-outlet></router-outlet>
