.go-back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

.go-back-button button {
    background-color: #4caf50; /* Green color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.go-back-button button:hover {
    background-color: #45a049; /* Darker green color on hover */
}
.edit-button-container {
    text-align: center; /* Center the button */
    margin-top: 20px; /* Add top margin for spacing */
}
.mat-select-value-text {
    color: white !important; /* Set the text color to white */
}
.mat-select-value-text.mat-selected {
    color: white !important; /* Set the text color to white */
}
