<div *ngIf="(deliveryRound$ ) as deliveryRound">
    <!-- delivery-round-detail-page.component.html -->

    <p>delivery-round-detail-page works!</p>

    <!-- Afficher le nom de la tournée -->
    <h2>{{ deliveryRound.name }} - Détails de la tournée</h2>

    <div class="d-grid gap-3">
        <!-- Rediriger vers la page de détails de la livraison en cliquant sur un bouton -->
        <button
            class="btn btn-secondary btn-lg"
            *ngFor="let delivery of deliveryRound"
            (click)="afficherDetailsLivraison(delivery.id)">
            {{ delivery.name }}
        </button>
    </div>
</div>
