
<!--
<body>
<div class="login-container">
    <div class="login-box">
        Formulaire de connexion
        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" placeholder="Enter password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
-->

<h2 mat-dialog-title>Select User Role</h2>
<mat-dialog-content>
    <button mat-button (click)="selectRole('admin')">Admin</button>
    <button mat-button (click)="selectRole('driver')">Driver</button>
</mat-dialog-content>
<div *ngIf="isLoading" class="loading-overlay show">
    <!-- Your rotating arrow loading animation goes here -->
    <div class="loading-spinner">&#x21BB;</div>
    Loading...
</div>
