<div class="container">
    <div class="go-back-button">
            <button (click)="goBack()">
                <i class="bi bi-arrow-left-circle"></i> <!-- Rounded arrow icon in a circle -->
           </button>
       </div>
    <div *ngIf="deliveryRounds$ | async as deliveryRounds">
        <div *ngIf="deliveryRound">
            <div class="title-container">
                <h1 class="title">{{ deliveryRound.name }}</h1>
            </div>
           
            <br />
        <h2 class="text-center">Livreur : {{ deliveryRound.driver?.name || "Non assigné"}}</h2>
        <br />
        <h2 class="subtitle">Cargaison totale</h2>
            <!-- Bootstrap table to show article data -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="tableTitle">Nom d'article</th>
                        <th class="tableTitle">Quantité</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterate over key-value pairs in articleQuantityMap -->
                    <tr *ngFor="let entry of articleQuantityMap | keyvalue">
                        <td class="customFont">{{ entry.key }}</td>
                        <td class="customFont">{{ entry.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
