.btn {
    line-height: 3;
    font-size: 2em;
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}
.go-back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
}

.go-back-button button {
    background-color: #4caf50; /* Green color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.go-back-button button:hover {
    background-color: #45a049; /* Darker green color on hover */
}

/* Add a new style block or update your existing CSS file */

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust margin top as needed */
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #35495e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold; /* Add this line for bold text */
}

.sectionList{
    background-color: rgb(219, 235, 255);
    margin: 5%;
    padding: 5%;
    border-radius: 15px;
}