<div *ngIf="deliveryRoundsList$ | async as deliveryRounds">
   
    <br>
    <div class="title-container">
        <h1 class="title">Liste des tournées</h1>
    </div>
    <button *ngIf="(userChoice$ | async) === 'admin'" class="btn btn-secondary btn-lg rounded-circle custom-plus-button" (click)="redirectToCreationPage()">
        +
    </button>
    <section class="sectionList">
        <div class="d-grid gap-3">
            <button class="btn btn-secondary btn-lg" *ngFor="let deliveryRound of deliveryRounds | keyvalue" (click)="showdeliveryRoundDetails(deliveryRound.key)">
                {{ deliveryRound.value.name }}
            </button>
        </div>
    </section>
</div>
<router-outlet></router-outlet>
